@model MVC.Areas.Gerencial.Models.Produtos.ProdutosViewModel
@{
    ViewBag.Title = "Alterar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header">Alterar<small>&emsp; Produtos</small></h3>
<script type="text/javascript">
    jQuery(document).ready(function (e) {
        if ($("#PercentualVenda").val() == "0,00")
            $("#PercentualVenda").val("")
    });
</script>
@using (Html.BeginForm("Alterar", "Produtos", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="form-group">
        <label for="BtnSalvar" class="col-lg-2 control-label"></label>
        <div class="col-lg-5">
            <a href="@Url.Action("Index","Produtos")" class="btn btn-sm btn-primary">
                Voltar &emsp;<i class="glyphicon glyphicon-arrow-left"></i>
            </a>
        </div>
    </div>

    <div class="form-group">
        <label for="Descricao" class="col-lg-2 control-label">Descrição</label>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control", @placeholder = "Descrição", @maxlength = 125 })
        </div>
    </div>

    <div class="form-group">
        <label for="CodigoBarra" class="col-lg-2 control-label">Código de Barras</label>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.CodigoBarra, new { @class = "form-control", @placeholder = "00000000000000000", @maxlength = 255 })
        </div>
    </div>

    <div class="form-group">
        <label for="UidadeArmazenamento" class="col-lg-2 control-label">Unidade</label>
        <div class="col-lg-5">
            @Html.TextBoxFor(x => x.UidadeArmazenamento, new { @class = "form-control", @placeholder = "kg, gr, lt, etc..", @maxlength = 2 })
        </div>
    </div>

    <div class="form-group">
        <label for="PercentualVenda" class="col-lg-2 control-label">% de Venda</label>
        <div class="col-lg-5">
            @Html.TextBoxFor(x => x.PercentualVenda, new { @class = "form-control", @placeholder = "Ex: 15%", @maxlength = 3 })
        </div>
    </div>

    <div class="form-group">
        <label for="GrupoProduto" class="col-lg-2 control-label">Grupos</label>
        <div class="col-lg-10">
            @Html.DropDownListFor(x => x.GrupoProduto, new SelectList(Model.ListaGrupoProduto, "Id", "Descricao", Model.GrupoProduto), "", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label for="SubGrupoProduto" class="col-lg-2 control-label">Sub-Grupos</label>
        <div class="col-lg-10">
            @Html.DropDownListFor(x => x.SubGrupoProduto, new SelectList(Model.ListaSubGrupo, "Id", "Descricao", Model.SubGrupoProduto), "", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label for="Status" class="col-lg-2 control-label">Ativo</label>
        <div class="col-lg-5">
            @Html.CheckBoxFor(x => x.Status, new { @class = "form-control checkbox-switch" })
        </div>
    </div>

    <div class="form-group">
        <label for="BtnSalvar" class="col-lg-2 control-label"></label>
        <div class="col-lg-5">
            <button type="submit" id="BtnSalvar" class="btn btn-lg btn-success">Salvar &emsp;<i class="glyphicon glyphicon-floppy-saved"></i></button>
        </div>
    </div>
}

